div
{
	display: block;
}

body
{
	background-color: #222;
}

table
{
	border-spacing: 1px;
	border: 1px solid #000;
	width: 100%;
}

.horizHeader
{
	width: 9%;
	height: 25px;
	padding: 0px;
	margin: 0px;
	background: #BBB;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

.vertHeader
{
	width: 3%;
	height: 25px;
	padding: 0px;
	margin: 0px;
	background: #BBB;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

.cell
{
	background: #DDD;
}

.cellInput
{
	display: none;
	width: 97%;
	padding: 0px;
	margin: 0px;
}

.cellLabel
{
	display: block;
	padding: 0px;
	margin: 0px;
}

.activeCell
{
	display: block;
	border-color: #008798;
	outline-color: #4CB6B8;
}

.inactiveLabel
{
	display: none;
}

.cell:hover
{
	box-shadow: inset 0px 0px 15px 5px #8AFFFF;
	-webkit-box-shadow: inset 0px 0px 15px 5px #8AFFFF;
	-moz-box-shadow: inset 0px 0px 15px 5px #8AFFFF;
	-o-box-shadow: inset 0px 0px 15px 5px #8AFFFF;
}

input
{
	width: 40px;
	height: 19px;
}

.topPanel
{
	height: 30px;
	width: 100%;
	border: 1px solid #000;
}

.active
{
	background-color: #8AFFFF;
}

#currentCellLabel
{
	border: 1px solid #000;
	padding: 4px;
	background: #fff;
	display: block;
	width: 10%;
	float: left;
	text-align: center;
}

#currentCellInput
{
	border: 1px solid #000;
	display: block;
	width: 25%;
	height: 20px;
	padding: 4px;
	float: left;
}

#currentCellInput:focus
{
	box-shadow: inset 0px 0px 50px -16px #4CB6B8;
	-webkit-box-shadow: inset 0px 0px 50px -16px #4CB6B8;
	-moz-box-shadow: inset 0px 0px 50px -16px #4CB6B8;
	-o-box-shadow: inset 0px 0px 50px -16px #4CB6B8;
}

#clearButton
{
	width: 10%;
	height: 30px;
	float: left;
	display: block;
	cursor: pointer;
	overflow: hidden;
	background-color: #444;
	border: 1px solid #999;
	color: #fff;
}

#clearButton:hover
{
	box-shadow: inset 0px 0px 50px -12px #8AFFFF;
	-webkit-box-shadow: inset 0px 0px 50px -12px #8AFFFF;
	-moz-box-shadow: inset 0px 0px 50px -12px #8AFFFF;
	-o-box-shadow: inset 0px 0px 50px -12px #8AFFFF;
}

#loadDiv
{
	margin-left: 5%;
	overflow: hidden;
	display: block;
	height: 28px;
	width: 10%;
	float: left;
	cursor: pointer;
	background-color: #444;
	border: 1px solid #999;
	color: #fff;
}

#loadDiv:hover
{
	background-color: #444;
	border: 1px solid #999;
	box-shadow: inset 0px 0px 50px -12px #8AFFFF;
	-webkit-box-shadow: inset 0px 0px 50px -12px #8AFFFF;
	-moz-box-shadow: inset 0px 0px 50px -12px #8AFFFF;
	-o-box-shadow: inset 0px 0px 50px -12px #8AFFFF;
}

#loadTag
{
	width: 100%;
	height: 30px;
	float: left;
	display: block;
	position: relative;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
}

#loadInput
{
	font-size: 50px;
	opacity: 0;
	filter: alpha(opacity: 0);
	position: relative;
	top: -30px;
	left: 0px;
	cursor: pointer;
	height: 30px;
	width: 100%;
}

#saveButton
{
	width: 10%;
	height: 30px;
	float: left;
	display: block;
	cursor: pointer;
	background-color: #444;
	border: 1px solid #999;
	color: #fff;
}

#saveButton:hover
{
	box-shadow: inset 0px 0px 50px -12px #8AFFFF;
	-webkit-box-shadow: inset 0px 0px 50px -12px #8AFFFF;
	-moz-box-shadow: inset 0px 0px 50px -12px #8AFFFF;
	-o-box-shadow: inset 0px 0px 50px -12px #8AFFFF;
}